In [1]:
import pandas as pd

# Hello

In [2]:
bin_data = pd.read_csv('~/BarcodeScript/test1/bin_inventory.csv',dtype={'product_id': object,'master_id':object})

In [3]:
carton_data = pd.read_csv('~/BarcodeScript/test1/carton_inventory.csv',dtype={'product_id': object,'master_id':object})
bin_data.dropna(how='all',inplace=True)
carton_data.dropna(how='all', inplace=True)

In [4]:
bin_data

  product_id master_id             bin_location_code  stock
0     379859    480385  37-Z1-F1-R1-B1-A-A02-10-02-2    900
1     379859    480385  37-Z1-F1-R1-B1-A-A05-20-02-2      5
2     379859    480385  37-Z1-F1-R1-B1-A-A05-20-01-3      5
3     379859    480385  37-Z1-F1-R1-B1-A-A05-20-01-4      0
4     379859    480385  37-Z1-F1-R1-B1-A-A05-20-01-5     10
5     379859    480385  37-Z1-F1-R1-B1-A-A05-20-01-6      3

In [5]:
carton_data

  product_id master_id             bin_location_code  carton_qty
0     379859    480385  37-Z1-F1-R1-B1-A-A02-10-02-2         900
1     379859    480385  37-Z1-F1-R1-B1-A-A05-20-01-2           1
2     379859    480385  37-Z1-F1-R1-B1-A-A05-20-01-3          10
3     379859    480385  37-Z1-F1-R1-B1-A-A05-20-01-4          10
4     379859    480385  37-Z1-F1-R1-B1-A-A05-20-01-5           0
5     379859    480385  37-Z1-F1-R1-B1-A-A05-20-01-6           5

In [6]:
new_cart = pd.merge(bin_data, carton_data, on=['product_id','master_id','bin_location_code'],how='outer')

In [10]:
from collections import OrderedDict
import json

In [11]:
s = new_cart.to_json()
k = json.loads(s)
cols = k.keys()
rows = k.values()
rowl = [x.values() for x in rows]

In [12]:
rowl = [x.values() for x in rows]

In [15]:
d = [OrderedDict(row) for i ,row in new_cart.iterrows()]
for x in d:
    print x

OrderedDict([('product_id', '379859'), ('master_id', '480385'), ('bin_location_code', '37-Z1-F1-R1-B1-A-A02-10-02-2'), ('stock', 900.0), ('carton_qty', 900.0)])
OrderedDict([('product_id', '379859'), ('master_id', '480385'), ('bin_location_code', '37-Z1-F1-R1-B1-A-A05-20-02-2'), ('stock', 5.0), ('carton_qty', nan)])
OrderedDict([('product_id', '379859'), ('master_id', '480385'), ('bin_location_code', '37-Z1-F1-R1-B1-A-A05-20-01-3'), ('stock', 5.0), ('carton_qty', 10.0)])
OrderedDict([('product_id', '379859'), ('master_id', '480385'), ('bin_location_code', '37-Z1-F1-R1-B1-A-A05-20-01-4'), ('stock', 0.0), ('carton_qty', 10.0)])
OrderedDict([('product_id', '379859'), ('master_id', '480385'), ('bin_location_code', '37-Z1-F1-R1-B1-A-A05-20-01-5'), ('stock', 10.0), ('carton_qty', 0.0)])
OrderedDict([('product_id', '379859'), ('master_id', '480385'), ('bin_location_code', '37-Z1-F1-R1-B1-A-A05-20-01-6'), ('stock', 3.0), ('carton_qty', 5.0)])
OrderedDict([('product_id', '379859'), ('master_id', '480385'), ('bin_location_code', '37-Z1-F1-R1-B1-A-A05-20-01-2'), ('stock', nan), ('carton_qty', 1.0)])

In [36]:
print len(bin_data),len(carton_data),len(new_cart)

6 6 7

In [37]:
new_cart['stock'].fillna(0,inplace=True)
new_cart['carton_qty'].fillna(0,inplace=True)

In [38]:
new_cart['stock']=new_cart['stock'].astype(int)
new_cart['carton_qty']=new_cart['carton_qty'].astype(int)
new_cart['bin_diff']=new_cart['stock'] - new_cart['carton_qty']
new_cart['carton_diff']=new_cart['carton_qty'] - new_cart['stock']
new_cart

,product_id,master_id,bin_location_code,stock,carton_qty,bin_diff,carton_diff
0,379859,480385,37-Z1-F1-R1-B1-A-A02-10-02-2,900,900,0,0
1,379859,480385,37-Z1-F1-R1-B1-A-A05-20-02-2,5,0,5,-5
2,379859,480385,37-Z1-F1-R1-B1-A-A05-20-01-3,5,10,-5,5
3,379859,480385,37-Z1-F1-R1-B1-A-A05-20-01-4,0,10,-10,10
4,379859,480385,37-Z1-F1-R1-B1-A-A05-20-01-5,10,0,10,-10
5,379859,480385,37-Z1-F1-R1-B1-A-A05-20-01-6,3,5,-2,2
6,379859,480385,37-Z1-F1-R1-B1-A-A05-20-01-2,0,1,-1,1

In [10]:
x = [{'a':1,'b':2},{'a':3,'b':4}]

df = pd.DataFrame(x)

In [11]:
df

   a  b
0  1  2
1  3  4

In [12]:
df.drop('a',axis=1,inplace=True)

In [13]:
df

   b
0  2
1  4